.short-container {
  margin: 8px;
  position: relative;

  img {
    width: 175px;
    height: 500px;
    object-fit: cover;
    border-radius: 16px;
  }

  h4 {
    position: absolute;
    bottom: 4px;
    left: 0;
    right: 0;
  }
}
