mat-nav-list {
  .menu-element {
    .menu-item {
      display: flex;
      align-items: center;

      mat-icon {
        margin-right: 16px;
      }
    }
  }

  &.is-icon-view {
    .menu-element {
      padding-top: 8px;
      padding-bottom: 8px;

      .menu-item {
        flex-direction: column;
        align-items: center;

        mat-icon {
          margin-right: 0;
          margin-bottom: 4px;
        }
      }
    }
  }
}
